@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    /* 10% {
        transform: rotate(20.0deg)
    } */
    20% {
        transform: rotate(20.0deg)
    }

    30% {
        transform: rotate(-15.0deg)
    }

    40% {
        transform: rotate(10.0deg)
    }

    50% {
        transform: rotate(-5.0deg)
    }

    60% {
        transform: rotate(5.0deg)
    }

    70% {
        transform: rotate(-5.0deg)
    }
    80% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}


/* text background animation  */
@keyframes text-animation{
    0% {  
      background-position: 0% 50%;
    }
    100%{
    background-position: 100% 50%;
    }
  }